@font-face {
  font-family: 'Lexend';
  src:
    url('/src/assets/fonts/Lexend-Thin.woff2') format('woff2'),
    url('/src/assets/fonts/Lexend-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src:
    url('/src/assets/fonts/Lexend-ExtraLight.woff2') format('woff2'),
    url('/src/assets/fonts/Lexend-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src:
    url('/src/assets/fonts/Lexend-Light.woff2') format('woff2'),
    url('/src/assets/fonts/Lexend-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src:
    url('/src/assets/fonts/Lexend-Regular.woff2') format('woff2'),
    url('/src/assets/fonts/Lexend-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src:
    url('/src/assets/fonts/Lexend-Medium.woff2') format('woff2'),
    url('/src/assets/fonts/Lexend-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src:
    url('/src/assets/fonts/Lexend-SemiBold.woff2') format('woff2'),
    url('/src/assets/fonts/Lexend-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src:
    url('/src/assets/fonts/Lexend-Bold.woff2') format('woff2'),
    url('/src/assets/fonts/Lexend-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src:
    url('/src/assets/fonts/Lexend-ExtraBold.woff2') format('woff2'),
    url('/src/assets/fonts/Lexend-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src:
    url('/src/assets/fonts/Lexend-Black.woff2') format('woff2'),
    url('/src/assets/fonts/Lexend-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 20% 99%;
    --foreground: 210 13% 13%;

    --card: 240 20% 98%;
    --card-foreground: 210 13% 13%;

    --popover: 240 20% 98%;
    --popover-foreground: 210 13% 13%;

    --primary: 240 60% 60%;
    --primary-foreground: 0 0% 93%;

    --secondary: 238 100% 95%;
    --secondary-foreground: 238 43% 27%;

    --muted: 230 11% 89%;
    --muted-foreground: 210 13% 13%;

    --accent: 240 11% 95%;
    --accent-foreground: 210 13% 13%;

    --destructive: 8 87% 51%;
    --destructive-foreground: 8 87% 96%;

    --warning: 32 95% 44%;
    --warning-foreground: 48 100% 97%;

    --info: 200 98% 39%;
    --info-foreground: 204 100% 98%;

    --success: 142 76% 36%;
    --success-foreground: 138 76% 98%;

    --border: 233 10% 82%;
    --input: 233 10% 82%;
    --ring: 240 60% 60%;

    --radius: 0.3rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 6% 7%;
    --foreground: 220 9% 94%;

    --card: 220 6% 10%;
    --card-foreground: 220 9% 94%;

    --popover: 220 6% 10%;
    --popover-foreground: 220 9% 94%;

    --primary: 240 60% 60%;
    --primary-foreground: 0 0% 93%;

    --secondary: 236 45% 27%;
    --secondary-foreground: 242 94% 94%;

    --muted: 214 7% 19%;
    --muted-foreground: 220 9% 70%;

    --accent: 225 6% 14%;
    --accent-foreground: 220 9% 94%;

    --destructive: 2 84% 31%;
    --destructive-foreground: 0 70% 13%;

    --warning: 32 95% 44%;
    --warning-foreground: 48 100% 13%;

    --info: 200 98% 39%;
    --info-foreground: 204 100% 13%;

    --success: 142 76% 36%;
    --success-foreground: 138 76% 13%;

    --border: 213 8% 28%;
    --input: 213 8% 28%;
    --ring: 240 60% 60%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-lexend text-foreground;
  }
}
